// -----------------------------------------------------------------------------
// CSS helper classes.
// -----------------------------------------------------------------------------

@import "mixins";

/**
 * Clear inner floats
 */
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

@if variable-exists(debug-mode) and $debug-mode {
    * {
        // Required to override existing styles for debugging.
        // stylelint-disable declaration-no-important
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
        // stylelint-enable declaration-no-important
    }
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.with-anchor::before {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 15px;
    margin-top: 15px;

    @include media-breakpoint-up(md) {
        height: 45px;
        margin-top: -45px;
    }
}
