// -----------------------------------------------------------------------------
// Application-wide Sass variables.
// -----------------------------------------------------------------------------

// Paths
$images-path: "/Lombiq.BaseTheme/images/" !default;

// Mixin Defaults
$default-vertical-multiplier: 0.5 !default;
