/* --------------------------------------------------------------------------------------------------------------------
 * Application-wide CSS variables
 * ------------------------------------------------------------------------------------------------------------------ */

/* Define size-aware gutter and margin variables. They make use of the body element's breakpoint classes that are
   dynamically applied using JavaScript. You can use these in places where you'd use one of the gutter or margin mixins
   in our Sass base theme, see more info about this in the docs. */

.breakpoint-xs {
    --gutter: var(--gutter-x-small);
    --page-margin: var(--page-margin-x-small);
}

.breakpoint-sm {
    --gutter: var(--gutter-small);
    --page-margin: var(--page-margin-small);
}

.breakpoint-md {
    --gutter: var(--gutter-medium);
    --page-margin: var(--page-margin-medium);
}

.breakpoint-lg {
    --gutter: var(--gutter-large);
    --page-margin: var(--page-margin-large);
}

.breakpoint-xl {
    --gutter: var(--gutter-x-large);
    --page-margin: var(--page-margin-x-large);
}

.breakpoint-xxl {
    --gutter: var(--gutter-xx-large);
    --page-margin: var(--page-margin-xx-large);
}

