// ---------------------------------------------------------------------------------------------------------------------
// Application-wide Sass mixins
// ---------------------------------------------------------------------------------------------------------------------

// You can reference "Assets/Styles/abstracts/_variables.scss" here once and then you never have to again. Other .scss
// files can import this one to have everything. Make sure to import "variables" before the Base Theme's "mixins",
// because that imports some default Sass variable declarations and you want them to override your custom values.
@import "variables";
@import "../Lombiq.BaseTheme/Assets/Styles/abstracts/mixins";

// In this case we create a mixin that crops a media field into a nice wide banner. It's applied both for sites and blog
// posts in other files.
@mixin media-field-banner {
    // The "mixins" file in the Lombiq.BaseTheme has several utility mixins, including many "gutter" functions that help
    // with applying uniform spacing between controls on your web site. Unless you have a specific reason not to, we
    // suggest always using these to set gap (for grid and flexbox), margin and padding.
    @include margin-bottom-gutter($multiplier: 1);

    img {
        height: var(--height-header);
        width: 100%;
        object-fit: cover;
    }

    .name { display: none; }
}

// NEXT STATION: Assets/Styles/general/_navigation.scss
