@use "sass:math";
@import "../abstracts/mixins";

.flow {
    @include make-row;
}

.widget {
    &-align {
        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }

        &-justify {
            text-align: justify;
        }
    }

    &-size {
        &-100 {
            @include make-col-ready;
            @include make-col(12);
        }
    }

    &-image-widget img {
        width: 100%;
    }
}

@each $wsize in (25, 33, 50, 66, 75) {
    %widget-size-#{$wsize} {
        @include make-col-ready;
        @include make-col(12);

        @include media-breakpoint-up(sm) {
            @include make-col(round(math.div($wsize * 12, 100)));
        }
    }

    .widget-size-#{$wsize} {
        @extend %widget-size-#{$wsize};
    }

    .widget .widget-size-#{$wsize} {
        @extend %widget-size-#{$wsize};

        @include media-breakpoint-up(md) {
            @include make-col(round(math.div($wsize * 12, 100)));
        }
    }
}
