@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Lombiq.HelpfulLibraries.OrchardCore.TagHelpers
@model Lombiq.BaseTheme.ViewModels.BaseThemeSettingsViewModel

<h2>@RenderTitleSegments(T["Lombiq Base Theme Settings"])</h2>

<form method="post" asp-action="Update">
    @await DisplayAsync(Model.Editor)

    <fieldset asp-for="HideMenu"
              label="@T["Hide Main Menu"]"
              hint="@T["Check this if you don't use the main menu widget and want to hide it."]"
              type="checkbox"></fieldset>

    <button type="submit" class="save btn btn-primary">@T["Save"]</button>
</form>