@using Lombiq.BaseTheme.Services
@using Microsoft.AspNetCore.Http
@using ResourceNames = Lombiq.BaseTheme.Samples.Constants.ResourceNames
@using Lombiq.BaseTheme.Samples.Constants
@using Microsoft.AspNetCore.Authorization

@inject ICssClassHolder CssClassHolder
@inject IAuthorizationService AuthorizationService

<style asp-name="@ResourceNames.Site"></style>
<link type="image/x-icon" rel="shortcut icon" href="~/@FeatureIds.Area/icons/favicon.ico" />

<zone name="Header">
    <p>@T["Here you can easily inject shapes into the zones, kind of like always enabled widgets."]</p>
</zone>

<zone name="Footer" position="0">
    <div class="text-center">@T["© 2022 <a href=\"https://lombiq.com/\">Lombiq Technologies</a>"]</div>
</zone>

@* You can even include shapes conditionally. *@
@if (await AuthorizationService.AuthorizeAsync(User, OrchardCore.Admin.Permissions.AccessAdminPanel))
{
    <zone name="Footer" position="1">
        <a href="/Admin">@T["Admin Dashboard"]</a>
    </zone>
}
