<!DOCTYPE html>

@inject ICssClassHolder CssClassHolder

<html lang="@Orchard.CultureName()">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><shape type="PageTitle"></shape></title>

    <script asp-name="bootstrap"></script>
    <script asp-name="@ResourceNames.Helpers"></script>

    <resources type="Header"/>

    @await RenderSectionAsync("LayoutInjection", required: false)
</head>
<body dir="@Orchard.CultureDir()" class="@CssClassHolder.Body.Join()">

@await ZoneDescriptor.DisplayZonesAsync(
    CssClassHolder,
    page: this,
    new[]
    {
        new ZoneDescriptor(Header, wrapBody: true, elementName: "header")
        {
            ChildrenBefore = new [] { new ZoneDescriptor("Banner", elementName: "section") },
            ChildrenAfter = new []
            {
                new ZoneDescriptor(Navigation, elementName: "nav"),
            },
        },
        new ZoneDescriptor(BeforeMain, elementName: "section"),
        new ZoneDescriptor(Featured, elementName: "section"),
        new ZoneDescriptor(Content, wrapBody: true, elementName: "section")
        {
            ChildrenBefore = new []
            {
                new ZoneDescriptor(AsideFirst, elementName: "aside"),
                new ZoneDescriptor(Messages, elementName: "section"),
                new ZoneDescriptor(BeforeContent, elementName: "section"),
            },
            ChildrenAfter = new []
            {
                new ZoneDescriptor(AfterContent, elementName: "section"),
                new ZoneDescriptor(AsideSecond, elementName: "aside"),
            },
        },
        new ZoneDescriptor(AfterMain, elementName: "section"),
        new ZoneDescriptor(Footer, "footer"),
    })

<script>
    const navbar = document.querySelector('.navbar');
    if (navbar) navbar.id = 'navbar';
</script>
<resources type="FootScript"/>

</body>
</html>
