<!DOCTYPE html>
@using Microsoft.Extensions.Options
@using OrchardCore.ResourceManagement

@inject ICssClassHolder CssClassHolder
@inject IOptions<ResourceManagementOptions> ResourceManagementOptions

<html lang="@Orchard.CultureName()">
<head>
    @{
        // Remove all external Bootstrap 5 resources. (This way we can update Bootstrap independent of OC.)
        foreach (var manifest in ResourceManagementOptions.Value.ResourceManifests)
        {
            if (manifest.GetResources("$" + nameof(FeatureIds.Area)).ContainsKey(FeatureIds.Area)) { continue; }

            foreach (var resourceType in new[] { "stylesheet", "script" })
            {
                if (manifest.GetResources(resourceType).TryGetValue("bootstrap", out var resource))
                {
                    resource.Clear();
                }
            }
        }
    }

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><shape type="PageTitle"></shape></title>

    @await RenderSectionAsync("LayoutInjection", required: false)

    <script asp-name="bootstrap"></script>
    <script asp-name="@ResourceNames.Helpers"></script>

    <resources type="Header"/>
</head>
<body dir="@Orchard.CultureDir()" class="@CssClassHolder.Body.Join()">

@await ZoneDescriptor.DisplayZonesAsync(
    CssClassHolder,
    page: this,
    new[]
    {
        new ZoneDescriptor(Header, wrapBody: true)
        {
            ChildrenBefore = new [] { new ZoneDescriptor("Banner") },
        },
        new ZoneDescriptor(Navigation, "nav"),
        new ZoneDescriptor(BeforeMain),
        new ZoneDescriptor(Featured),
        new ZoneDescriptor(Content, wrapBody: true)
        {
            ChildrenBefore = new []
            {
                new ZoneDescriptor(AsideFirst),
                new ZoneDescriptor(Messages),
                new ZoneDescriptor(BeforeContent),
            },
            ChildrenAfter = new []
            {
                new ZoneDescriptor(AfterContent),
                new ZoneDescriptor(AsideSecond),
            },
        },
        new ZoneDescriptor(AfterMain),
        new ZoneDescriptor(Footer, "footer"),
    })
<resources type="FootScript"/>

</body>
</html>
