// --------------------------------------------------------------------------------------------------------------------
// General layout rules
// --------------------------------------------------------------------------------------------------------------------

@use "../abstracts/mixins";

.layoutElement_leaf {
    @include mixins.padding-gutter(0);
}

body > .layoutElement {
    @include mixins.media-breakpoint-only(xs) {
        padding: 0 calc(var(--page-margin-x-small) - var(--gutter-x-small));
    }

    @include mixins.media-breakpoint-only(sm) {
        padding: 0 calc(var(--page-margin-small) - var(--gutter-small));
    }

    @include mixins.media-breakpoint-only(md) {
        padding: 0 calc(var(--page-margin-medium) - var(--gutter-medium));
    }

    @include mixins.media-breakpoint-only(lg) {
        padding: 0 calc(var(--page-margin-large) - var(--gutter-large));
    }

    @include mixins.media-breakpoint-only(xl) {
        padding: 0 calc(var(--page-margin-x-large) - var(--gutter-x-large));
    }

    @include mixins.media-breakpoint-up(xxl) {
        padding: 0 calc(var(--page-margin-xx-large) - var(--gutter-xx-large));
    }
}
