/* --------------------------------------------------------------------------------------------------------------------
 * General layout rules
 * ------------------------------------------------------------------------------------------------------------------ */

img {
    max-width: 100%;
    padding-left: 0px;
}

.layoutElement {
    padding: 0 calc(var(--page-margin) - var(--gutter));

    &.layoutElement_leaf {
        padding: 0 calc(var(--gutter));
    }
}
